<%- include('partials/header', { title: 'Mikroblog' }) %>

  <h1>Mikroblog</h1>
  <a href="/new">Dodaj nowy wpis</a>
  <hr>
  <% if (posts.length === 0) { %>
    <p>Brak wpisów.</p>
  <% } else { %>
    <% posts.forEach(post => { %>
      <%- include('partials/post-item') %>
    <% }) %>
  <% } %>

<%- include('partials/footer') %>
