<%- include('partials/header', { title: 'Blog' }) %>

  <h1>Blog</h1>

  <%- include('partials/nav') %>

  <hr>

  <% posts.forEach(post => { %>
    <%- include('partials/post-item', { post, user }) %>
  <% }) %>

<%- include('partials/footer') %>