<%- include('partials/header', { title: 'Nowy wpis' }) %>

  <h1>Dodaj nowy wpis</h1>
  <a href="/">Powrót do mikrobloga</a>

  <%- include('partials/errors') %>

  <%- include('partials/post-form', { action: '/new', buttonLabel: 'Dodaj wpis' }) %>

<%- include('partials/footer') %>
